@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://github.com/Saidalokhon/DSCC.CW1.7902.API">API GitHub link</a></p>
    <p><a href="https://github.com/Saidalokhon/DSCC.CW1.7902.UI">UI GitHub link</a></p>
    <p><a href="http://ec2-3-82-229-54.compute-1.amazonaws.com/swagger/index.html">OpenAPI</a></p>
</div>
